/* brand */
.brand {
    width: 100%;
    height: 100%;
    padding: 100px;
   background: url('/react-first-exercise/img/brand.jpeg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand p {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
}
