/* input */
.input{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: url('img/input.jpg');
    background-position: center;
    background-size: cover;
}
.input .input-left p{
    border-radius: 10px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
    max-width: 300px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
}
.input-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input .input-right a{
    background-color: #000;
    color: rgb(255, 255, 255,0.7);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    padding: 10px 12px;
    display: block;
    margin-left: 10px;
}
.input .input-right a:hover{
    background-color: white;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.input .input-right input{
    color: rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    padding: 10px 12px;
    width: 300px;
    outline: none;
    border: none;
}
.input .input-right input::placeholder{
    color: #262626;
}
.input .input-right input:hover{
    box-shadow: 0 0 14px rgb(255, 205, 69);
}
/* footer */
footer{
    background:#ffe9c8;
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

footer .footer1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .footer1 h1{
    margin: 10px 0;
    font-size: 1.3rem;
}
footer .footer1 p{
    font-size: 0.8rem;
    max-width: 250px;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}
footer .footer1 ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer1 ul li{
    margin: 0 10px;
    background: #000;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #262626;
}
footer .footer1 ul li a{
    color: white;
    font-size: 0.9rem;
}
footer .footer1 ul li:hover a{
    color: #000;
}
footer .footer1 ul li:hover{
    background: #fff;
}
footer .f h3{
    margin-bottom: 10px;
    color: #262626;
}
footer .f ul li a{
    color: #6d6d6d;
    margin: 10px 0;
    font-size: 0.9rem;
    display: block;
}
footer .f ul li a:hover{
    text-decoration: underline;
    color: #000;
}