/* header */
header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

header .header-right ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-right ul li {
    margin: 0 10px;
}

header .header-right ul li a {
    font-size: 1rem;
    color: #6d6d6d;
}

header .header-right ul li .fa-star {
    color: rgb(0, 54, 21);
}

header .header-right ul li a:hover {
    color: #000;
}
/* homepage */
.homepage {
    background: #ffe9c8;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.homepage h1 {
    font-size: 1.5rem;
    color: #262626;
}

.homepage p {
    margin: 10px 0;
    font-size: 0.8rem;
    text-align: center;
    max-width: 300px;
    color: #6d6d6d;
}

.homepage a {
    color: #262626;
    font-size: 1rem;
    padding: 5px 8px;
    border: 1px solid #26262626;
    margin-bottom: 20px;
    transition: 0.2s;
}

.homepage .h-books {
    margin-top: 20px;
}

.homepage .h-books img {
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s;
}

.homepage .h-books img:nth-child(2) {
    transform: scale(1.2);
}

.homepage .h-books img:hover {
    transform: scale(1.2);
    margin: 0 20px;
}

.homepage a:hover {
    background-color: white;
    color: #000;
}
