
/* Authors */
.authors {
    padding: 20px;
    width: 100%;
    height: 100%;
    background: #ffe9c8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.authors h1 {
    font-size: 1.5rem;
    color: #262626;
    padding: 10px 0px;
    border-bottom: 1px solid #cccccc;
}

.authors p {
    margin: 10px 0;
    font-size: 0.8rem;
    text-align: center;
    max-width: 500px;
    color: #6d6d6d;
}

.authors .as-box {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.authors .a-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 30px;
    margin: 10px;
}

.authors .a-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.authors .a-box h3 {
    margin: 10px 0 2px;
    font-size: 1rem;
    text-align: center;
}

.authors .a-box p {
    font-size: 0.8rem;
    text-align: center;
}