* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
